body{
	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;
}
#circle{
	cursor: pointer;
	position: relative;
	display: none;
	top:5px;
	width :10px;
	height: 10px;
	border-radius: 50%;
	background-color: yellow;
}
#title{
	z-index: 1;
	color: white;
	font-size: 225%;
	width:300px;
	font-family: courier;
	font-weight: bolder;
	margin: 250px auto;
}